# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
.next/
out/
dist/
release/
build/

# Testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron
*.asar

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Cache
.cache/

app/_next/
.calude